### Note: at present, MathJax and KaTeX do not respect the USE_CDN configuration option
<%def name="math_scripts()">
    %if use_katex:
        <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.js" integrity="sha256-34ADEQM6cIZ7chSRA07lN4aD5JM9IQoeIr2VamKDcT0=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/contrib/auto-render.min.js" integrity="sha256-HkMrKMLKQk4t1R2ofMAcLz72fWM2sshnx6215U+LgU0=" crossorigin="anonymous"></script>
        % if katex_auto_render:
            <script>
                renderMathInElement(document.body,
                    {
                        ${katex_auto_render}
                    }
                );
            </script>
        % else:
            <script>
                renderMathInElement(document.body);
            </script>
        % endif
    %else:
### Note: given the size of MathJax; nikola will retrieve MathJax from a CDN regardless of use_cdn configuration
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML" integrity="sha256-SDRP1VVYu+tgAGKhddBSl5+ezofHKZeI+OzxakbIe/Y=" crossorigin="anonymous"></script>
        % if mathjax_config:
        ${mathjax_config}
        % else:
        <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$latex ','$'], ['\\(','\\)']]}});
        </script>
        % endif
    %endif
</%def>

<%def name="math_styles()">
    % if use_katex:
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0/katex.min.css" integrity="sha256-uXNHy6FK52Pb83SmU45mVAg7YECmr9Lwwu1zOz31j5c=" crossorigin="anonymous" />
    % endif
</%def>

<%def name="math_scripts_ifpost(post)">
    %if post.is_mathjax:
        ${math_scripts()}
    %endif
</%def>

<%def name="math_scripts_ifposts(posts)">
    %if any(post.is_mathjax for post in posts):
        ${math_scripts()}
    %endif
</%def>

<%def name="math_styles_ifpost(post)">
    %if post.is_mathjax:
        ${math_styles()}
    %endif
</%def>

<%def name="math_styles_ifposts(posts)">
    %if any(post.is_mathjax for post in posts):
        ${math_styles()}
    %endif
</%def>
